html, body {
  height: 100vh;
  width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
  
  @media ((min-width:481px) and (max-width: 1200px)) {
  
    html, body {
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      overflow-x: hidden; 
    }
    .gradient-background {
    background: linear-gradient(300deg, #ffffff, #e7e7e7, #ffffff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    }
  
    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    .title{
      height: 100vh;
      width: 100vw;
      margin: 0 auto;
      max-width: 950px;
      background-color: rgba(0, 136, 255, 0);
      display: flex;
      flex-direction: column;
    
      
    }
    .welcome{
      height: 100vh;
      width: 100%;
      min-width: 100%;
      background-color: #F1FFBB;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      flex-wrap: wrap;
      padding: 20px;
    }
    .head{
      height: auto;
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: column;
      
    }
    .img{
      display: flex;
      flex-shrink: 1;
    }
    .forums{
      height: 50vh;
      width: 100%;
      background-color: #BBDAFF;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
    }
    .tools{
      display: none;
    }
  
    .forums p {
      text-align: center;
    }
    .disc{
      text-align: center;
    }
    .tools{
      display: none;
    }
    .acttool{
      height: 100vh;
      width: 60%;
    
      background-color: rgb(255, 255, 255);
      position: absolute;
     
      transition: 0.5s ease-in;
      right: -75%;
    }
    .acttooll{
      height: 100vh;
      width: 60%;
      background-color: rgb(255, 255, 255);
      position: absolute;
      top: 0%;
      right: 0%;
      transition: 0.5s ease-in;
    }
    .f1{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 8%;
    
      gap:10px;
  
         
   
     }
     .stats{
       background-color: #5AF5FF;
       border-radius: 8px;
       max-width: 250px;
       max-height: 250px;
     }
     .ach{
       background-color: #57FF54;
       border-radius: 8px;
       max-width: 250px;
       max-height: 250px;
     }
     .notes{
       background-color: #FFC634;
       border-radius: 8px;
       max-width: 250px;
       max-height: 250px;
   
     }
     .att{
   
       background-color: #623BFF;
       border-radius: 8px;
       max-width: 250px;
       max-height: 250px;
   
     }
     /* .atach{
  
      display: grid;
      grid-template-columns: 1fr ;
      grid-template-rows: 1fr 1fr;
     
  
      } */
  
      .f3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr;
       gap: 10px;
  
      }
      .f4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr;
       gap: 10px;
  
      }
  
  
   
  }
  
  
  @media (min-width:1201px){

  
      .gradient-background {
      background-color: white;
      background-size: 180% 180%;
      animation: gradient-animation 18s ease infinite;
      height: 100vh;
      width: auto;
      display: flex;
      justify-content: left;
  
      
     
    }
    
    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    .title{
      height: 100%;
      width: 90%;
    
      background-color: rgba(0, 136, 255, 0);
      display: flex;
      flex-direction: column;
    
      
    }
    .welcome{
      height: 100%;
      width: 100%;
      background-color: #F1FFBB;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    
      flex-wrap: wrap;
    }
    .acttool{
      display: none;
    }
    .head{
      height: auto;
      width: 30%;
    }
    .img{
      display: flex;
      flex-shrink: 1;
    }
    .forums{
      height: 100%;
      width: 100%;
      background-color: #BBDAFF;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .tools{
      height: 100vh;
      width: 60%;
      display: flex;
     align-items: center;
      padding-top: 2%;
      flex-direction: column;
      gap: 10px;
    }
    .f1{
      height: 25%;
      width: 90%;
      display: flex;
      flex-direction: row;
      gap: 15px;
  
    }
    .stats{
      height: 100%;
      width: 49%;
      background-color: #5AF5FF;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
     border-radius: 8px;
    }
    .stats button{
      height: 30px;
    }
    .ach{
      height: 100%;
      width: 49%;
      background-color: #57FF54;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
     border-radius: 8px;
    }
    .f2{
      height: 25%;
      width: 90%;
   
      display: flex;
      flex-direction: row;
      gap: 12px;
    }
    .notes{
      height: 100%;
      width: 49%;
      background-color: #FFC634;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
     border-radius: 8px;
    }
    .att{
      height: 100%;
      width: 49%;
      background-color: #623BFF;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
     border-radius: 8px;
    }
    .f3{
      margin-top: 30px;  
      width: 90%;
      background-color: bisque;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap:80px;
      border-radius: 12px;
    }
    .f4{
     
      width: 90%;
      background-color: bisque;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap:80px;
      border-radius: 12px;
    }
    #aa{
      display: none;
    }
    .notess{
      height: 100vh;
      width: 100%;
      background-color: rgb(255, 255, 255);
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      position: absolute;
      top: -100%;
      gap: 20px;
      
      
    }
    .notessact{
      height: 100vh;
      width: 100%;
      background-color: rgb(255, 255, 255);
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      position: absolute;
      top: 0%;
      gap: 20px;
      transition: 0.5s ease-in  ;
      
      
    }
    .sub{
      height: 100vh;
      width: 100%;
      background-color: #ececec;
      display: grid;
      grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      gap:10px;
      padding: 50px;
  
    }
    .file{
      height: 100vh;
      width: 100%;
      background-color: rgb(255, 255, 255);
      display: grid;
      grid-template-columns:  1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 10px;
  
    }
    .f11,.f22,.f33,.f44,.f55,.f66{
      background-color: #e2e2e2;
      height: 300px;
      width: 250px;
    }
    .sub1,.sub2,.sub3,.sub4,.sub5,.sub6{
      background-color: #dedede;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .logo{
      background-color: #BBDAFF;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .acttool{
      display: none;
    }
    .acttooll{
      display: none;
    }
    
  }
  
  
  @media (max-width: 480px) {
    html, body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden; 
    }
    .gradient-background {
      height: 100vh;
      width: auto;
      position: relative;
    }
    
    .welcome {
      height: auto;
      width: auto;
      background-color: #F1FFBB;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      min-height: 100vh;
    }
  
    .title {
      height: auto;
      width: auto;
      background-color: aliceblue;
    }
  
    .head {
      height: auto;
      display: flex;
      align-items: center;
      width: auto;
      flex-direction: column;
    }
  
    .welcome p {
      text-align: center;
    }
  
    .head h1 {
      margin-top: 20px;
    }
  
    .img {
      display: flex;
      flex-shrink: 1;
      height: auto;
      width: auto;
      margin-bottom: 50px;
    }
  
    .forums {
      background-color: #BBDAFF;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-grow: 1;
      min-height: 40vh;
      height: auto;
      width: 100%;
    }
  
    .forums p {
      text-align: center;
    }
  
    .forums h1 {
      margin-top: 5px;
    }
  
    .forums button {
      margin-bottom: 5px;
    }
  
    .tools{
      display: none;
    }

    .acttool {
      display: none;
  }
  
    .acttool{
      
      height: 100vh;
      width: 80%;
      background-color: rgb(255, 255, 255);
      position: absolute;
      top: 0%;
      opacity: 1;
     
     
     
    }

    #ss{
      cursor: pointer;
    }


    .disc{
      padding: 10px;
    }
    .f1{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     padding: 20px;
     height: auto;
     width: auto;
     gap:10px;   
  
    }
    .stats{
      background-color: #5AF5FF;
      border-radius: 8px;
    }
    .ach{
      background-color: #57FF54;
      border-radius: 8px;
    }
    .notes{
      background-color: #FFC634;
      border-radius: 8px;
  
    }
    .att{
  
      background-color: #623BFF;
      border-radius: 8px;
  
    }
    .not{
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0%;
      background-color: white;
      visibility: hidden;
  
    }
    .notact{
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0%;
      background-color: white;
      visibility:visible;
      
    }
    .navv{
      height: 5%;
      width: 100%;
      background-color: rgb(202, 202, 202);
    }
    .s{
  
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
     gap: 8%;
      padding: 8%;
     
  
      
    }
    .s11,.s22,.s33,.s44,.s55{
      background-color:#FFC634;
      border-radius: 8px;
      height: 80px;
      width: 100%;
    }
   
  
  
  
  }
  